
/* NVD3 chart styling */
.chart svg {
  height: 350px;
  width: 900px;
}

.transcript svg {
  height: 50px;
  width: 900px;
}

.nvd3 g.nv-groups path.nv-line {
  stroke-width: 4px;
}

svg text {
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}


/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;     /* undo display:none          */
  height: 0;          /* height:0 is also invisible */ 
  overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
  height: auto;       /* let the content decide it  */
} /* bootstrap hack end */


body {
  background-image: url("../img/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.3em;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.3em;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
}

h1.landing {
  font-size: 5em;
}

.tab-pane h4 {
  display: inline-block;
}

/*.lang-title {
  color: white;
}*/


.panel {
  background-color: rgba(255,255,255,0.8);
}


p, li {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

blockquote > p {
  color: #4b4b4b;
  font-weight: 500;
  display: inline-block;
}


.navbar {
  min-height: 60px;
  margin-bottom: 0;
}

.navbar-brand {
  height: 60px;
  padding: 15px 15px;
  font-size: 22px;
  line-height: 32px;
}

.navbar-nav > li > a {
  font-size: 16px;
  margin-top: 8px;
}


.jumbotron {
  background-color: rgba(255,255,255,0.75);
}


.jumbotron .dropdown-menu { 
  margin: 0 auto; 
  top: inherit;
  float: none;
}


/* footer stuff */

html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
    padding: 0 0 60px;
}
.footer {
    height: 60px;
}




