
/* NVD3 chart styling */
.chart svg {
  height: 350px;
  width: 900px;
}

.transcript svg {
  height: 100px;
  width: 900px;
}

.nvd3 g.nv-groups path.nv-line {
  stroke-width: 4px;
}

svg text {
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}


/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;     /* undo display:none          */
  height: 0;          /* height:0 is also invisible */ 
  overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
  height: auto;       /* let the content decide it  */
} /* bootstrap hack end */



p, li {
  font-size: 16px;
}

blockquote > p {
  color: #4b4b4b;
  font-weight: 500;
  display: inline-block;
}


.navbar {
  min-height: 60px;
}

.navbar-brand {
  height: 60px;
  padding: 15px 15px;
  font-size: 22px;
  line-height: 32px;
}

.navbar-nav > li > a {
  font-size: 16px;
  margin-top: 6px;
}

.jumbotron {
  background-color: ;
}

/*
.jumbotron .dropdown-menu { 
/*    position: relative;
*/  margin: 0 auto; 
  top: inherit;
  float: none;
}

.jumbotron .dropdown {
  text-align: center;
}
*/





