<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Intonation Coach</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>

    <!-- Bootstrap -->
    <link href="../static/css/lib/bootstrap.css" rel="stylesheet">
    <script src="../static/js/lib/bootstrap.min.js"></script>

    <!-- D3 & NVD3 -->
    <script src="../static/js/lib/d3.js"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.7.1/build/nv.d3.js"></script>
    <link href="https://cdn.rawgit.com/novus/nvd3/v1.7.1/build/nv.d3.css" rel="stylesheet">

    <!-- Recorder.js -->
    <script src="../static/js/lib/recorder.js"></script>
    <script src="../static/js/lib/recorderWorker.js"></script>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic|Roboto+Condensed:400italic,400' rel='stylesheet' type='text/css'>
    <!-- My CSS -->
    <link href="../static/css/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="wrapper">

      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="navbar-header">
              <img src="">
              <a class="navbar-brand" href="/">Intonation Coach</a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="/guidelines">Guidelines</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Languages <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/french">French</a></li>
                      <li><a href="/english-us">English (US)</a></li>
                      <li><a href="/russian">Russian</a></li>
                    </ul>
                  </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if session.get('user_id') %}
                  {% if session.get('email') %}
                    <li><a href="#">{{ session['email'] }}</a></li>
                  {% endif %}
                  <li><a href="/logout">Log Out</a></li>
                {% else %}
                  <li><a href="/login">Log In</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
      </div>

      <!-- Main content -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block body %} {% endblock %}
    
    </div>

    <footer class="footer">
      <p class="text-center"><small>Created by Dana Fallon &middot; <a href="/about">About</a> &middot; <a href="mailto:danajfallon@gmail.com" target="_blank">Contact</a> &middot; <a href="https://github.com/danafallon/IntonationCoach" target="_blank">Github</a></small></p>
    </footer>


  </body>
</html>