{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">

	<h1>English (US)</h1>
	<br>

  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li role="presentation" class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
    <li role="presentation"><a href="#ex1" data-toggle="tab">Example 1: Declarative</a></li>
    <li role="presentation"><a href="#ex2" data-toggle="tab">Example 2: Interrogative</a></li>
  </ul>

  <div id="my-tab-content" class="tab-content">

    <div class="tab-pane active" id="overview">
      <br>
    	<p>Paragraph introducing the common intonation patterns.</p>
    	<br>
    </div>

    <div class="tab-pane" id="ex1">
      <br>
      <p>Example sentence 1</p>
      <button type="button" class="btn btn-primary play en-us-1">Play</button>
      <br><br>
      <p>Now try to repeat with the same intonation:</p>
      <button type="button" class="btn btn-danger record en-us-1">Record</button>
      <button type="button" class="btn btn-primary play-back en-us-1">Play back</button>
      <button type="button" class="btn btn-default analyze en-us-1">Compare!</button>
        <div class="loading en-us-1" style="display: inline-block"><img src="../static/img/loading-wheel.gif" height="35px" />
        </div>
      <br><br>
      <div class="chart en-us-1">
        <svg></svg>
      </div>
    </div>

    <div class="tab-pane" id="ex2">
      <br>
      <p>Example sentence 2</p>
      <button type="button" class="btn btn-primary play en-us-2">Play</button>
      <br><br>
      <p>Now try to repeat with the same intonation:</p>
      <button type="button" class="btn btn-danger record en-us-2">Record</button>
      <button type="button" class="btn btn-primary play-back en-us-2">Play back</button>
      <button type="button" class="btn btn-default analyze en-us-2">Compare!</button>
        <div class="loading en-us-2" style="display: inline-block"><img src="../static/img/loading-wheel.gif" height="35px" />
        </div>
      <br><br>
      <div class="chart en-us-2">
        <svg></svg>
      </div>
    </div>

  </div>

</div>

<!-- My external Javascript-->
<script src="../static/js/script.js"></script>

<!-- Page-specific Javascript-->
<script>

// when user navigates to a tab, reassign global variables exID & recLength with values specific to that example sentence

$(document).on('show.bs.tab', 'a[data-toggle="tab"][href="#ex1"]', function (e) {
  exID = 'en-us-1';
  recLength = 2.0;
  loadTab(exID, recLength);
});

$(document).on('show.bs.tab', 'a[data-toggle="tab"][href="#ex2"]', function (e) {
  exID = 'en-us-2';
  recLength = 2.0;
  loadTab(exID, recLength);
});


</script>

{% endblock %}