{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">

	<h1>French</h1>
	<br>
	<p>Paragraph introducing the common intonation patterns in French.</p>
	<br>

  <p>Example sentence 1</p>
  <button type="button" class="btn btn-primary" id="play-sample1">Play</button>
  <br><br>
  <p>Now try to repeat with the same intonation:</p>
  <button type="button" class="btn btn-danger" id="record">Record</button>
  <button type="button" class="btn btn-default" id="analyze">Compare!</button>
  <!-- TODO: make Compare button unpressable until a recording is started & stopped -->
  <br><br>

</div>

<figure style="width: 1000px; height: 500px" id="pitch-contour"></figure>


<script>

///// Audio player ////

var buf = null;

//create AudioContext
var context = new AudioContext();

//load and decode wav file 
function loadFile(url) { 
    var request = new XMLHttpRequest(); 
    request.open("GET", url, true); 
    request.responseType = "arraybuffer"; 
    request.onload = function() { 
        //decode the loaded data 
        context.decodeAudioData(request.response, function(buffer) { 
            buf = buffer;
            playSound();
        }); 
    }; 
    request.send(); 
} 

//play the loaded file 
function playSound() { 
    //create a source node from the buffer 
    var src = context.createBufferSource();  
    src.buffer = buf; 
    //connect to the final output node (the speakers) 
    src.connect(context.destination); 
    //play immediately 
    src.start(0); 
} 


// TODO: implement Recorder.js
// var rec = new Recorder(source [, config])


function showAnalysis(recording) {
  // send user's recording & sentence name to server & assign pitch data from response to variables
  $.post('/analyze', { user_file: recording, sentence: 'supermarche' }, function(response) {
      var targetPitchData = response[0];
      var userPitchData = response[1];
  });

  // build graph
  var data = {
    "xScale": "linear",
    "yScale": "linear",
    "type": "line",
    "main": [
      {
        "className": ".example",
        "data": [     
          {"x": 0.12, "y": 110},
          {"x": 0.75, "y": 200},
          {"x": 1.2, "y": 250},
          {"x": 1.45, "y": 180},
          {"x": 1.85, "y": 160}
        ]
      }
    //   {
    //     "className": ".user",
    //     "data": userPitchData
    //   }
    ]
  };

  var opts = {
    "axisPaddingRight": 0,
    "axisPaddingLeft": 0
  };

  var myChart = new xChart('line', data, '#pitch-contour', opts);

  // unhide graph
  $('#pitch-contour').show();
};

function handleRecord() {
  if ($('#record').html() == "Record") {

    // rec.record();
    $('#record').html("Stop");
  } else {
    // rec.stop();
    $('#record').html("Record");
    $('#analyze').removeAttr('disabled');
  }
};

// play sample sentence when play button is pressed
$('#play-sample1').on('click', function(evt) {
  loadFile("/sounds/supermarche2.wav");
});

// hide graph until user has submitted recording
$('#pitch-contour').hide();

// disable compare button until user has recorded
$('#analyze').attr('disabled','disabled');

// when Record/Stop button is pressed
$('#record:not(.stop-btn)').on('click', handleRecord);

// when Compare button is pressed, analyze user's recording & show graph
$('#analyze').on('click', showAnalysis);

</script>

{% endblock %}