{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">

	<h1>French</h1>
	<br>
	<p>Paragraph introducing the common intonation patterns in French.</p>
	<br>

  <p>Example sentence 1</p>
  <button type="button" class="btn btn-primary" id="play-sample1">Play</button>
  <br><br>
  <p>Now try to repeat with the same intonation:</p>
  <button type="button" class="btn btn-danger" id="record">Record</button>
  <button type="button" class="btn btn-default" id="analyze">Compare!</button>
  <!-- TODO: make Compare button unpressable until a recording is started & stopped -->
  <br><br>

</div>

<figure style="width: 1000px; height: 500px" id="pitch-contour"></figure>


<script>

// var rec = new Recorder(source [, config])

function showAnalysis(recording) {
  // send user's recording to server & assign response to variable
  $.post('/analyze', { user_file: recording }, function(response) {
      var userPitchData = response;
  });

  // fetch pitch analysis of target recording (TODO)


  // build graph
  var data = {
    "xScale": "linear",
    "yScale": "linear",
    "type": "line",
    "main": [
      {
        "className": ".example",
        "data": [     
          {"x": 0.12, "y": 110},
          {"x": 0.75, "y": 200},
          {"x": 1.2, "y": 250},
          {"x": 1.45, "y": 180},
          {"x": 1.85, "y": 160}
        ]
      }
    //   {
    //     "className": ".user",
    //     "data": userPitchData
    //   }
    ]
  };

  var opts = {
    "axisPaddingRight": 0,
    "axisPaddingLeft": 0
  };

  var myChart = new xChart('line', data, '#pitch-contour', opts);

  // unhide graph
  $('#pitch-contour').show();
};

function handleRecord() {
  if ($('#record').html() == "Record") {

    // rec.record();
    $('#record').html("Stop");
  } else {
    // rec.stop();
    $('#record').html("Record");
    $('#analyze').removeAttr('disabled');
  }
};

// hide graph until user has submitted recording
$('#pitch-contour').hide();

// disable compare button until user has recorded
$('#analyze').attr('disabled','disabled');

// when Record/Stop button is pressed
$('#record:not(.stop-btn)').on('click', handleRecord);

// when Compare button is pressed, analyze user's recording & show graph
$('#analyze').on('click', showAnalysis);

</script>

{% endblock %}