{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
	<div class="jumbotron">
		<h1 class="text-center">Intonation Coach</h1>
		<br>
		<p class="text-center">Description.</p>
		<br>

		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle center-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		    Choose a Language
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/french">French</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/english-us">English (US)</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="/russian">Russian</a></li>
		  </ul>
		</div>
	</div>
</div>


{% endblock %}