{% extends 'base.html' %}
{% block body %}

<div class="container">
	<h1>Intonation Coach</h1>
	<br>
	<p>This paragraph will explain what this app is for.</p>
	<br>
	<p>Maybe put something pretty here (screenshot of some graphs?)</p>
	<br>
	
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	    Choose a Language
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/french">French</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/english-us">English (American)</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">A third language</a></li>
	  </ul>
	</div>
</div>


{% endblock %}